{% extends "based/base.html" %}
{% load static %}

{% block content %}
    <div class="login-container">
        <div class="login-box">
            <h2>Регистрация</h2>
            <form action="{% url 'user:registration_view' %}" method='post'>
                {% csrf_token %}
                <div class="input-box">
                    <input type="text" name="username" placeholder='Enter your username' value={% if form.username.value %}{{ form.username.value }} {% else %} ""{% endif %} required>
                    {% if form.username.errors %}{{ form.username.errors }}{% endif %}
                </div>
                <div class="input-box">
                    <input placeholder="Enter your password" type="password" name="password1" required>
                    {% if form.password1.errors %}{{ form.password1.errors }}{% endif %}
                </div>
                <div class="input-box">
                    <input placeholder="Repeat your password" type="password" name="password2" required>
                    {% if form.password2.errors %}{{ form.password2.errors }}{% endif %}
                </div>
                <button type="submit">Зарегистрироваться</button>
            </form>
        </div>
    </div>
{% endblock content %}